.navigation {
	position: fixed;
	width: 100%;
	z-index: 100;

	&__content {
		position: relative;

		height: 9rem;
		padding-inline: 15%;

		background-color: #191919;

		display: flex;
		align-items: center;
		justify-content: space-between;

		&::after {
			content: '';
			position: absolute;
			width: 68%;
			height: 1px;
			background-color: darken($color-white, 70%);
			top: 8.9rem;
			left: 15%;

			@media only screen and (max-width: $bp-large) {
				width: 76.5%;
				left: 10%;
			}

			@media only screen and (max-width: $bp-big) {
				width: 90%;
				left: 3%;
			}
		}

		& > ul {
			@media only screen and (max-width: $bp-medium) {
				display: none;
			}
		}

		@media only screen and (max-width: $bp-large) {
			padding-inline: 10%;
		}

		@media only screen and (max-width: $bp-big) {
			padding-inline: 3%;
		}

		@media only screen and (max-width: $bp-medium) {
			justify-content: flex-start;
		}

		@media only screen and (max-width: $bp-small) {
			justify-content: space-between;
		}
	}
}

.logo {
	height: 4rem;
	width: 18rem;

	@media only screen and (max-width: $bp-large) {
		margin-right: 2rem;
	}

	@media only screen and (max-width: $bp-medium) {
		margin-right: auto;
	}

	@media only screen and (max-width: $bp-small) {
		margin-right: 0;
	}
}

.cart {
	position: relative;

	&__icon {
		height: 2rem;
		width: 2rem;
		margin-right: 4rem;

		fill: $color-white;

		transition: all 0.5s;
		cursor: pointer;

		&:hover,
		&:active {
			fill: $color-beige-dark;
		}

		@media only screen and (max-width: $bp-medium) {
			margin-left: auto;
		}

		@media only screen and (max-width: $bp-medium) {
			margin-left: 0;
			margin-right: 1rem;
		}
	}

	&__amount {
		position: absolute;

		right: 2.7rem;
		top: -0.8rem;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 1.8rem;
		height: 1.8rem;

		border-radius: 50%;
		background-color: $color-beige-dark;
		font-size: 1.1rem;
		font-weight: $font-weight-bold;

		z-index: 10;

		cursor: default;

		@media only screen and (max-width: $bp-medium) {
			right: 0;
		}
	}
}
