.product {
	display: flex;
	flex-direction: column-reverse;

	& > *:not(:last-child) {
		margin-top: 15rem;
	}

	& > *:nth-child(2n) {
		flex-direction: row-reverse;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		gap: 15rem;

		@media only screen and (max-width: $bp-large) {
			gap: 8rem;
		}

		&--category {
			@media only screen and (max-width: $bp-medium) {
				flex-direction: column !important;

				& > article {
					text-align: center;
				}
			}
		}

		@media only screen and (max-width: $bp-medium) {
			gap: 4rem;
		}

		@media only screen and (max-width: $bp-small) {
			flex-direction: column;
		}
	}

	& > picture {
		width: 50%;
	}

	&__detail {
		align-self: center;

		& > *:not(:last-child) {
			margin-bottom: 2.5rem;
		}

		& > .span {
			margin-bottom: 0.5rem;
		}
	}

	&__buttons {
		display: flex;

		& > *:last-child {
			margin-left: 1.5rem;
		}
	}

	&__quantity {
		width: 10rem;
		display: flex;
		align-items: center;
		justify-content: center;

		background-color: $color-grey;

		& > span {
			width: 30%;

			font-size: 1.3rem;
			font-weight: $font-weight-bold;
			text-align: center;

			cursor: default;
		}
	}
}
