.hamburger-icon {
	height: 2rem;
	width: 2rem;
	margin-right: 5rem;

	display: none;

	@media only screen and (max-width: $bp-medium) {
		display: block;
	}

	@media only screen and (max-width: $bp-small) {
		margin-right: 0;
	}
}

.hamburger-menu {
	position: absolute;
	width: 50%;
	height: 1000%;
	top: 9rem;
	left: 0;

	padding-left: 3%;
	padding-top: 5%;

	background-color: #191919;

	z-index: 1000;

	@media only screen and (max-width: $bp-small) {
		width: 100%;
		padding-left: 0;
	}
}
