@mixin headings($font-size) {
	font-size: $font-size;
	line-height: 1.2;
}

@mixin white-see-product-btn($margin-top) {
	margin-top: $margin-top;
	background-color: inherit;
	color: $color-black;
	border: 1px solid $color-black;

	&:hover,
	&:focus {
		box-shadow: inset 15em 0 0 0 $color-black;
		color: $color-white;
	}
}
