.main {
	height: 60vh;

	padding-top: 20rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& > * {
		margin-bottom: 1rem;
	}

	& h1 {
		color: #101010;
	}

	& h2 {
		margin-bottom: 4rem;
	}
}
